# Pipecat framework
pipecat-ai[twilio,deepgram,elevenlabs,openai,silero,groq,cartesia,google]
pipecat-ai-flows
# Server
fastapi
uvicorn[standard]
python-dotenv
python-multipart
# HTTP
aiohttp
httpx
# OpenAI
openai
pipecat-ai[azure]
google-cloud-texttospeech
google-generativeai
pydub==0.25.1

dateparser