# Pipecat framework
pipecat-ai[twilio,deepgram,elevenlabs,openai,silero,groq,cartesia]
pipecat-ai-flows
# Server
fastapi
uvicorn[standard]
python-dotenv
python-multipart
# HTTP
aiohttp
httpx
# OpenAI
openai

pydub==0.25.1