# Pipecat framework
pipecat-ai[twilio,deepgram,elevenlabs,openai,silero,groq,cartesia,google]==0.0.104
pipecat-ai-flows==0.0.11
pipecat-ai[azure]==0.0.104
# Server
fastapi
uvicorn[standard]
python-dotenv
python-multipart
# HTTP
aiohttp
httpx
# OpenAI
openai
google-cloud-texttospeech
google-generativeai
pydub==0.25.1
deepgram-sdk==3.7.7
dateparser